{% extends 'base.html' %}

{% block title %}
<title>Committees</title>
{% endblock%}


{% block content %}
<a href="/">Go Back</a>
<div class="container">
    <h1>Pro Publica Political Spending API</h1>
    {% for comms in comms %}
    {% if comms.committee.gross_amt == None %}
    <h6>{{ comms.committee.name.title }} - Gross Amount Raised: None</h6>
    <h6>{{ comms.committee.id }}</h6>
    {% endif %}
    {% if comms.committee.gross_amt != None %}
    <h6>{{ comms.committee.name.title }} - Gross Amount Raised: ${{ comms.committee.gross_amt }}</h6>
    <h6>{{ comms.committee.id }}</h6>
    {% endif %}
    {% endfor %}
    <br>
</div>
{% endblock %}